{% extends 'appgestion/index.html' %}

{% block main %}
    
    <form action="/articulo/buscar" method="GET">
        {% csrf_token %}
        <table class="table table-striped">
            {{search_form.as_table}}
        </table>

        <input type="submit" value="Buscar">
    </form>

    <p> </p>
    <p> </p>
        {% if error %}<p style="color:red">{{error}}</p>{% endif %}

        {% if resultados %}
            
            {% for articulo in resultados %}
                <p> Nombre: <span style="font-weight: bold;">{{articulo.nombre}}</span></p>
                <p> Descripcion: <span style="font-weight: bold;">{{articulo.descripcion}}</span></p>
                <p> Precio: <span style="font-weight: bold;">{{articulo.precio}}</span></p>
                <p> Cantidad: <span style="font-weight: bold;">{{articulo.cantidad}}</span></p>
            {% endfor %}                 
        {% endif %}
        
        {% if buscado %}
            <p> No se encontraron Articulos con ese Nombre</p>
        {% endif %}

{% endblock %}