
{% extends 'appgestion/index.html' %}

{% block main %}
    
    <h1>Lista de Clientes</h1>
    <ul>
        {% for cliente in object_list %}
            <li>    
                <p>Nombre: <i>{{cliente.nombre}}</i></p>
                <p>Apellido: <i>{{cliente.apellido}}</i></p>
                <p>Telefono: <i>{{cliente.telefono}}</i></p>
                <p>Direccion: <i>{{cliente.direccion}}</i></p>
            </li>
        {% endfor %}

    </ul>

    <a href="{% url 'ClienteCreacion' %}">Nuevo</a>

{% endblock %}